# Заголовок Cache-Control
<IfModule mod_headers.c>
    #отключить кэширование
    <FilesMatch "\.(|flv|swf|ico|gif|jpg|jpeg|png|css|txt|js|htm|htmpl|php|cgi|spl|scgi|fcgi)$">
        Header unset Cache-Control
    </FilesMatch>
</IfModule>
 
# Заголовок Expires
<IfModule mod_expires.c>
ExpiresActive On
#по умолчанию кеш в 5 секунд
WEExpiresDefault "access plus 5 seconds"
</IfModule>